<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="main.css" />
</head>

<body>
    <div id="main">
        <div id="sub1">
            <div id="input_div">
                <div>
                    <input id="input1" type="email" placeholder="your registerd email"  />
                    <br />
                </div>
                <div id="sub2">
                    <button id="fgp_btn1">Submit</button>

                    <h4 id="message"></h4>
                </div>
                <br />
            </div>

        </div>
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="forget_password.js" type="module"></script>

</html>