<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="main.css">
    <script src="main.js"></script>
</head>
<body>
    <h1>Daily Expense app</h1>
    <div>
<div>
<form action="" method="post">
<label for="name">your name:</label>
<input type="text" required="true">
<br><br>
<label for="name">your email:</label>
<input type="email" required="true">
<br><br>
<label for="name">password:</label>
<input type="password" required="true">
<br><br>
<button type="submit">sign up</button>

</form>





</div>




    </div>
</body>
</html>