<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="main.css">
   
</head>
<body>
    <h1>Daily Expense app</h1>
    <div>
<div>
 
<label for="name">your name:</label>
<input type="text" required="true" name="name" value="kk" id="user_name">
<br><br>
<label for="name">your email:</label>
<input type="email" required="true" name="email" value="kri@gma.com" id="user_email">
<br><br><label for="name">Mobile:</label>
<input type="number" required="true" name="mobile" value="7894561230" id="user_mobile">
<br><br>
<label for="name">password:</label>
<input type="password" required="true" name="password" value="123" id="user_password">
<br><br>


</form>

<button type="submit" id="sign_up_btn">sign up</button>



</div>




    </div>
</body>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="main.js"></script>

</html>