<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="main.css">

</head>

<body>


    <!-- head -->
    <div id="main_head1">
        <div id="main_title1">
            <h1 id="main_title1_h1"><a href="index.html">Daily Expense app</a></h1>
        </div>
        <div id="head1">
            <div id="main_menu1">
                <div>Home</div>
                <div>Features</div>
                <div>About</div>
            </div>


            <div id="login">
                <div><a href="login_page.html"><button id="login_btn" class="btn1">login page</button></a></div>
                <div><a href="signup_page.html"><button id="signup_btn" class="btn1">signup page</button></a></div>
            </div>

        </div>
    </div>
    
    <div id="body1">

<div id="d1_main">
    <div id="d1_title"><h1>our featurs</h1></div>
    <div id="d1_main2">
       
<div class="d1"><p>record your all expenses</p></div>
<div class="d1"><p>you have category</p></div>
<div class="d1"><p>save your expense</p></div>
<div class="d1"><p>edit your expense</p></div>
<div class="d1"><p>delete your expenses</p></div>
<div class="d1"><p>get report of your expenses</p></div>
<div class="d1"><p>get your freind expense</p></div>
<div class="d1"><p></p></div>
<div class="d1"><p></p></div>
<div class="d1"><p></p></div>
<div class="d1"><p></p></div>
<div class="d1"><p></p></div>
</div>
</div>

    </div>
    
    
    
    
    
    <!-- <label for="name">your name:</label>
<input type="text" required="true" name="name" value="kk" id="user_name">
<br><br>
<label for="name">your email:</label>
<input type="email" required="true" name="email" value="kri@gma.com" id="user_email">
<br><br><label for="name">Mobile:</label>
<input type="number" required="true" name="mobile" value="7894561230" id="user_mobile">
<br><br>
<label for="name">password:</label>
<input type="password" required="true" name="password" value="123" id="user_password">
<br><br> -->




    <!-- <button type="submit" id="sign_up_btn">sign up</button> -->









    </div>
</body>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<!-- <script src="main.js" type="module"></script> -->

</html>