<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="main.css">
   
</head>
<body>
    <a href="index.html"><button>signup</button></a>

    <h1>Daily Expense app</h1>
    <h1>login page</h1>
    <div>
<div>
 

<label for="name">your email:</label>
<input type="email" required="true" name="email" value="kri@gma.com" id="user_email">
<br><br>
<label for="name">password:</label>
<input type="password" required="true" name="password" value="123" id="user_password">
<br><br>


</form>

<button type="submit" id="login_btn">login</button>



</div>

<a href="./forgot_reset_password/index.html"><button >forgot password</button>
</a>

    </div>
</body>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="login_user.js" type="module"></script>




</html>