*{
    margin: 0px;
    padding: 0px;
box-sizing: border-box;

}

#dashboard_body{
    background-color:rgb(248, 246, 246);
   
}


/* home page */
#main_head1{
    width: 100vw;
    height: 100px;
    background-color: #5938D1;
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
/* position: absolute; */
position: relative;
}
#main_title1{
    width: 20%;
    min-width: 300px;
    /* background-color: rgb(0, 72, 255); */
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;


}
#main_title1_h1>a{
   color: white; 
   text-decoration: none;
}
#head1{
    width: 80%;
    /* height: 100px; */
    /* background-color: rgb(0, 255, 21); */
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
    margin: 10px;

}
#main_menu1{
    /* width: 100vw; */
    /* height: 100px; */
    
    /* background-color: rgb(255, 0, 0); */
    display: flex;
   

}
#main_menu1>div{
    
    /* background-color: rgb(238, 238, 246); */
    margin: 0px 20px;
    font-size: 20px;
    height: 35px;
    font-weight: bold;
    color: rgb(247, 246, 246);
    /* width: 100px; */
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0px solid white;
}
#main_menu1>div:hover{
    transition: 0.1s;
    /* background-color: rgb(238, 238, 246); */
    /* background-color: aliceblue; */
    border-bottom: 3px solid white;
}

#login{
    margin-left:40px;
    padding: 10px;
    /* background-color: rgb(255, 0, 157); */
    display: flex;

}
.btn1{
 background-color: white;
 border: none;
 width: 100px;
 height: 40px;
 font-size: 14px;
 font-weight:200;
 font-family: Georgia, 'Times New Roman', Times, serif;
 margin: 1px;
   
}
#login_btn{
    border-radius: 50px 0px 0px 50px;
}
#signup_btn{
    border-radius: 0px 50px 50px 0px;
}
/* .btn1:hover{
    transition: 0.3s;
    border-radius: 50px 50px 50px 50px;
      
   } */
#login_btn:hover{
    transition: 0.3s;
    border-radius: 50px 50px 50px 50px;
    background-color: rgb(240, 43, 254);
    
}
#signup_btn:hover{
    transition: 0.3s;
    background-color: rgb(240, 43, 254);
    border-radius: 50px 50px 50px 50px;
 
}
/* login page and signup page html */

/* body
 */
 #body1{
    width: 100vw;
    height: 100vh;
    background-image: url("./image/xyz2.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    background-size: 90vh 90vh;
    /* background-position: x; */
    resize: both;
    overflow: scroll;
    background-position: right  center;
    /* background-position-y: 5px; */
 
 }
 #d1_main{
    width: 60%;
    height: 90%;
    /* background-color: #5938D1; */
    /* border: 2px solid black; */
     display: flex;
    justify-content: center;
    align-items: center;
   flex-direction: column;
    /* padding: 40px; */
align-self: center;
 }
 #d1_main2{
    
    width: 90%;
    height: 70%;
    /* background-color: #5938D1; */
    /* border: 2px solid rgb(157, 26, 26); */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    /* padding: 40px; */
 }
 .d1{
    width: 200px;
    height: 200px;
    background-color: white;
    margin: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    padding: 10px;
    text-align: center;
 }
 .d1:hover{
    transition: 1sec;
    animation: mymove 2s infinite;
    
    /* animation-duration: 10s; */
    color: white;
    box-shadow: rgba(255, 238, 2, 0.24) 0px 3px 8px;
    font-size: 30px;
    font-weight: bold;
    /* background-color: linear-gradient(to bottom, #8f00ff, #007eff, #00a8ff, #00c2ea, #00d5bf, #47d498, #78d06d, #a5c841, #bcad00, #d18d00, #e26500, #ee2613); */
 }
 @keyframes mymove {
    from {background-color: rgb(253, 252, 253);
        font-size: 20px;
    }
    to {background-color: rgb(0, 183, 255);
        font-size: 30px;
    }
  }
  @keyframes mytext {
    from {
  
    }
    to {
      
    }
  }
 #d1_title{
    /* background-color: aquamarine; */
    margin-top: -50px;
    margin-bottom: 30px;
 }